body {
  font-family: Arial;
  margin: 0px;
  display: grid;
  justify-items: center;
  margin-top: 64px;
  gap: 64px;
  background: #f7f7f7;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

p {
  font-size: 16px;
  line-height: 1.3;
}

h1 {
  font-size: 32px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.menu a {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
}

.intro {
  background: #fff;
  position: relative;
  display: grid;
  gap: 16px;
  padding: 16px;
  justify-items: end;
  align-content: center;
  text-align: right;
}

.detalhe {
  position: absolute;
  background: #e21;
  top: 16px;
  right: -32px;
  width: 64px;
  height: 4px;
}

.intro a {
  background: #e21;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
}

.subtitulo {
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  text-transform: uppercase;
  font-size: 64px;
  padding: 64px 24px;
  align-self: center;
}

.vantagens {
  background: #fff;
  padding: 16px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px 16px;
  padding: 16px;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: #fff;
  padding: 16px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}
